.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .subheading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .button-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .admin-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-decoration: none;
  }

  
  .driver-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .signup-message {
    font-size: 1rem;
  }
  